html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
    font-Family: Microsoft Yahei, pingfangSC;
}
.green{
    color: #05AF71;
}
.blue{
    color: #1A7FE3;
}

.yellow{
    color: #FE9131;
}
.tan{position: fixed;top: 50%;left:50%;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);width: 80%;padding: 20px 2px;background: rgba(0,0,0,0.7);text-align: center;color: white;border-radius:10px; }
fieldset,
img {
    border: 0
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal
}

ul,
ol {
    list-style: none
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体"
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

select,
input {
    vertical-align: middle
}

select,
input,
textarea {
    font-size: 12px;
    margin: 0
}

input[type="text"],
input[type="password"],
textarea {
    outline-style: none;
    -webkit-appearance: none
}
a{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:hover{
    text-decoration: none!important;
}
textarea {
    resize: none
}

table {
    border-collapse: collapse
}

.clear:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.clear {
    zoom: 1
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.flexBetween {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
.flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flexAround {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
}
.flexWrap{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}
.fontWeight{
    font-weight: 600;
}

.border-none {
    border: 0;
}

.line {
    width: 4px;
    height: 18px;
    z-index: 77;
    color: rgb(24, 114, 219);
    /*border-right: 3px solid  rgb(24, 114, 219);*/
    background: rgb(24, 114, 219);
    display: inline-block;
    opacity: 1;
}

input {
    border: none;
}

input::-webkit-input-placeholder {
    font-size: 14px;
    color: #929292;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 14px;
    color: #929292;
    font-family: "微软雅黑",PingFang SC, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
    color: #929292;
    font-family: "微软雅黑",PingFang SC, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 14px;
    color: #929292;
    font-family: "微软雅黑",PingFang SC, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
}

select {
    direction: rtl;
    border: none;
    outline: none;
    background: #fff;
    -webkit-appearance: none;
    /*去除系统默认的样式*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 点击去除高亮的颜色*/
}

.mu-dialog-title {
    font-size: 12px;
    padding: 16px 0 12px 0;
}

.mu-dialog-body {
    padding: 16px;
}
.viewer-rotate-left,.viewer-rotate-right,.viewer-one-to-one,.viewer-zoom-out,.viewer-zoom-in,.viewer-flip-vertical,.viewer-flip-horizontal,.viewer-reset{
  display:none;
}
/* 签名 */
.container {
    width: 100%;
    height: 100%;
}
#canvasBox {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.greet {
    padding: 12px;
    font-size: 20px;
    user-select: none;
}
.greet select {
    font-size: 18px;
}
canvas {
    flex: 1;
    cursor: crosshair;
    border:2px dashed lightgray;
}
.none{
    display: none;
}
#pic{
    height: auto;
    width: 100%;
}
#signDate {
    height: auto;
    width: 100%;
}
.image{
    max-height: 80px;
    max-width: 80px;
}
.deleteIconindex{
    position: absolute;
    height: 15px;
    width: 15px;
    right: -6px;
    top: -6px;
    cursor: pointer;
}
.borderBox{
    line-height: 74px;
    height: 81px;
    width: 81px;
    text-align: center;
    position: relative;
    border: 1px dashed #ccc;
    border-radius: 4px;
    margin: 6px 12px 6px 0px;
    vertical-align: middle;
    cursor: pointer;
}
.borderline{
    text-decoration: underline;
}
.cancledrawButton{
    background: #f2f2f2;
    color: #232323;
    font-size: 14px;
    width: 80px;
    border-radius: 5px;
    height: 28px;
}
.drawButton{
    margin-left: 40px;
    background: #0076FF;
    color: #fff;
    font-size: 14px;
    width: 80px;
    border-radius: 5px;
    height: 28px;
}
.font12{
    font-size: 12px;
}
.font14{
    font-size: 14px;
}
.font16{
    font-size: 16px;
}
.font18{
    font-size: 18px;
}
.font20{
    font-size: 20px;
}
.font22{
    font-size: 22px;
}
.marginleft12{
    margin-left: 12px;
}
.colorBlue{
    color: #3D89EB;
    
}
.backBlue{
    background: #3D89EB;
}
.radiobox {
    position: relative;
    border-radius: 100%;
    margin: 0 15px;
  }

  .radiobox input {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 100;
    opacity: 0;
    left: -6px;
    top: 8px;
  }
  .radiobox label {
    cursor: pointer;
    position: absolute;
    top: 9px;
    left: -7px;
    width: 20px;
    height: 20px;
    background: url('./images/noSelect.png') no-repeat center center;
    background-size: 100% 100%;
    z-index: 1;
    border-radius: 100%;
  }

  .radiobox input[type="radio"]:checked+label {
    background: url('./images/select.png') no-repeat center center;
    background-size: 100% 100%;
  }