html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
    fontFamily: Microsoft Yahei, pingfangSC;
}
html,
body{
    height:100%;
}
.tan{position: fixed;top: 50%;left:50%;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);width: 80%;padding: 20px 2px;background: rgba(0,0,0,0.7);text-align: center;color: white;border-radius:10px;z-index:1000; }
fieldset,
img {
    border: 0
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal
}

ul,
ol {
    list-style: none
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体"
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

select,
input {
    vertical-align: middle
}

select,
input,
textarea {
    font-size: 12px;
    margin: 0
}

input[type="text"],
input[type="password"],
textarea {
    outline-style: none;
    -webkit-appearance: none
}
a{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:hover{
    text-decoration: none!important;
}
textarea {
    resize: none
}

table {
    border-collapse: collapse
}

.clear:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.clear {
    zoom: 1
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.flexBetween {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
.flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flexAround {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
}
.none{
    display: none;
}
.border-none {
    border: 0;
}
.fontWeight{
    font-weight: 600;
}

.line {
    width: 4px;
    height: 18px;
    z-index: 77;
    color: rgb(24, 114, 219);
    /*border-right: 3px solid  rgb(24, 114, 219);*/
    background: rgb(24, 114, 219);
    display: inline-block;
    opacity: 1;
}

input {
    border: none;
}

input::-webkit-input-placeholder {
    font-size: 13px;
    color: #929292;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 13px;
    color: #929292;
    font-family: "微软雅黑",PingFang SC, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: 13px;
    color: #929292;
    font-family: "微软雅黑",PingFang SC, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 13px;
    color: #929292;
    font-family: "微软雅黑",PingFang SC, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
}

select {
    direction: rtl;
    border: none;
    outline: none;
    background: #fff;
    -webkit-appearance: none;
    /*去除系统默认的样式*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 点击去除高亮的颜色*/
}
.smallButton{
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #0076FF;
    border-radius: 20px;
    margin: 30px auto;
    font-size: 14px;
}
.bigButton{
    width: 240px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #0076FF;
    border-radius: 6px;
    margin: 16px auto;
    font-size: 14px;
}
.mu-dialog-title {
    font-size: 12px;
    padding: 16px 0 12px 0;
}

.mu-dialog-body {
    padding: 16px;
}
.viewer-rotate-left,.viewer-rotate-right,.viewer-one-to-one,.viewer-zoom-out,.viewer-zoom-in,.viewer-flip-vertical,.viewer-flip-horizontal,.viewer-reset{
    display:none;
}
.colorfff{
    color: #fff;
}
.colorBlue{
    color: #0076FF;
}
.colorRed{
    color: #E51C23;
}
.colorOrange{
    color: #FF9800;
}

.font12{
    font-size: 12px;
}
.font14{
    font-size: 14px;
}
.font16{
    font-size: 16px;
}
.font18{
    font-size: 18px;
}
.font20{
    font-size: 20px;
}
.nodata{
    margin: 60px auto;
    text-align: center;
}
.nodataIcon{
    height: 100px;
    width: 150px;
}
.nodataText{
    color: #232323;
    margin-top: 20px;
}
.zhegaiceng {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}

.zhegaiceng .lodingimg {
    position: absolute;
    height: 60px;
    width: 60px;
    left: 0;
    right: 0;
    margin: 30vh auto;
}

.flexWrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.file {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 80px;
    color: #fff;
    background: #0076FF;
    text-align: center;
    position: relative;
    border-radius: 4px;
    vertical-align: middle;
    cursor: pointer;
}
.addFile{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}
.file input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    height: 80px;
    width: 80px;
}
.image{
    max-height: 80px;
    max-width: 80px;
}
.deleteIconindex{
    position: absolute;
    height: 15px;
    width: 15px;
    right: -6px;
    top: -6px;
    cursor: pointer;
}
.borderBox{
    line-height: 74px;
    height: 81px;
    width: 81px;
    text-align: center;
    position: relative;
    border: 1px dashed #ccc;
    border-radius: 4px;
    margin: 6px 12px 6px 0px;
    vertical-align: middle;
    cursor: pointer;
}
.borderline{
    text-decoration: underline;
}
/* .lineBox{
    height: 16px;
    width:3px;
    background: #0D76EE;
    display: inline-block;
    vertical-align: middle;
} */

.radiobox {
    position: relative;
    border-radius: 100%;
    padding: 0 10px;
    margin: 0px 10px 5px;
}

.radiobox input {
    cursor: pointer;
    position: absolute;
    width: calc(100% + 6px);
    height: 20px;
    z-index: 100;
    opacity: 0;
    left: -15px;
    top: 0px;
}

.radiobox label {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: -15px;
    width: 20px;
    height: 20px;
    background: url('../images/noSelect.png') no-repeat center center;
    background-size: 100% 100%;
    z-index: 1;
    border-radius: 100%;
}

.radiobox input[type="radio"]:checked+label {
    background: url('../images/select.png') no-repeat center center;
    background-size: 100% 100%;
}
.radiobox input[type="checkbox"]:checked+label {
    background: url('../images/select.png') no-repeat center center;
    background-size: 100% 100%;
}
.showright{
    flex-direction: row-reverse;
}
.contentTitle{
    text-align: center;
    margin:10px auto;
    font-weight: 600;
    font-size:16px;
}
.inputText{
    height: 30px;
    border-bottom: 1px solid #bbb;
    line-height: 30px;
    text-indent: 6px;
}
.linebox {
    position: relative;
    margin-left: 10px;
}
.linebox:before {
    content: '';
    position: absolute;
    height: 18px;
    width: 3px;
    background: #0076FF;
    left: -8px;
    top: 2px;
}

.backgreen{
    background: #08592D;
}
.backblue{
    background: #E86415;
}
.titlename{
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
}
.margin10{
    margin: 10px 0;
}
.chooseBox{
    height: 60px;
    width: 28%;
    padding: 0 3px;
    margin-bottom: 6px;
    margin-right: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 签名 */
.sigincheck,.sigincheck1{
    margin-bottom: 10px;
    display: none;
}
#signature,#signature1{
    height: 200px;
}
.smallButton{
    margin-top: 45px;
}
.container {
    width: 100%;
    height: 100%;
}
#canvasBox {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.greet {
    padding: 12px;
    font-size: 20px;
    user-select: none;
}
.greet select {
    font-size: 18px;
}
canvas {
    flex: 1;
    cursor: crosshair;
    border:2px dashed lightgray;
}
.none{
    display: none;
}
#pic,#pic1{
    height: auto;
    width: 100%;
}
.signButton{
    height:40px;
    width: 150px;
    line-height: 40px;
    text-align: center;
    background: #8BC34A;
}
.signBox{
    margin: 0px 20px;
    padding: 12px 0;
    line-height: 40px;
}
.drawButton{
    border: 1px solid #f9f9f9;
    border-radius: 10px;
    padding: 10px 16px;
    background: #fff;
    color: #232323;
    font-size: 16px;
    margin-left: 18px;
}